#messages {
  section {
    opacity: 0;
    transform: translateY(1rem);
    transition: opacity 0.4s ease, transform 0.4s ease;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .comment {
    opacity: 0;
    transition: opacity 0s ease;

    &.visible {
      opacity: 1;
    }
  }

  #steps {
    bottom: -3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    left: 0;
    position: absolute;
    width: 100%;
  }

  #dots {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    &::before {
      background-color: var(--dots-background);
      content: '';
      height: 0.1rem;
      left: 1.75rem;
      position: absolute;
      right: 1.75rem;
      top: 50%;
      transform: translateY(-50%);
    }

    .dot {
      background-color: var(--dots-background);
      border-radius: 100%;
      cursor: pointer;
      height: 0.8rem;
      margin: 0 1rem;
      padding: 0;
      position: relative;
      width: 0.8rem;
      z-index: 1;

      &.filled {
        background: linear-gradient(90deg, var(--gradient-background-left), var(--gradient-background-right));
      }
    }
  }

  #prev-step,
  #next-step {
    font-size: 2rem;
    height: 3rem;
    justify-content: center;
    line-height: 1;
    padding-bottom: 1.25rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      transform: translateY(calc(-50% - 0.1rem));
    }

    &:disabled {
      cursor: default;
      opacity: 1;
    }
  }

  #prev-step {
    padding-left: 1rem;
    left: -2.5rem;
  }

  #next-step {
    padding-right: 1rem;
    right: -2.5rem;
  }
}
