#messages {
  section {
    opacity: 0;
    transform: translateY(1rem);
    transition: opacity 0.4s ease, transform 0.4s ease;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .comment {
    opacity: 0;
    transition: opacity 0s ease;

    &.visible {
      opacity: 1;
    }
  }

  #steps {
    bottom: -3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    left: 0;
    position: absolute;
    width: 100%;
  }

  #dots {
    align-items: center;
    display: flex;
    justify-content: center;

    .dot {
      background-color: var(--card-border);
      border-radius: 100%;
      cursor: pointer;
      height: 0.8rem;
      margin: 0 1rem;
      padding: 0;
      position: relative;
      width: 0.8rem;

      &:not(:first-child)::before {
        background-color: var(--card-border);
        content: '';
        height: 0.1rem;
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        width: 2rem;
      }

      &.filled {
        background: linear-gradient(90deg, var(--gradient-background-left), var(--gradient-background-right));

        &:not(:first-child)::before {
          background: linear-gradient(90deg, var(--gradient-background-right), var(--gradient-background-left));
        }
      }
    }
  }

  #prev-step,
  #next-step {
    font-size: 2rem;
    height: 3rem;
    justify-content: center;
    line-height: 1;
    padding-bottom: 1.25rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:disabled {
      cursor: default;
      opacity: 1;
    }
  }

  #prev-step {
    left: -2.75rem;
  }

  #next-step {
    right: -2.75rem;
  }
}
