a {
  /* markdown: [text](url) */
  background: var(--button-background-gradient);
  border-radius: 100rem;
  color: var(--general-text-light);
  display: inline-block;
  line-height: 2rem;
  padding: 0 1rem;
  text-decoration: none;
}

body {
  background-color: var(--general-background);
  color: var(--general-text-dark);
  font-family: monospace;
  line-height: 1.25rem;

  >header {
    height: 0;
    overflow: hidden;
  }
}

button {
  background: var(--button-background-gradient);
  border-radius: 100rem;
  color: var(--general-text-light);
  line-height: 1.5rem;
  margin: 0.75rem 0;
  padding: 0.5rem 0.75rem;
  width: 100%;
}

i {
  /* markdown: *italic* */
  background: var(--panel-background-gradient);
  border-radius: 0.25rem 0.25rem 0 0;
  color: var(--general-text-light);
  font-style: normal;
  padding: 0.1rem 0.5rem;
  white-space: nowrap;
}

input {
  margin-top: 0.5rem;

  &[type="text"],
  &[type="number"] {
    background: var(--button-background-gradient);
    border-radius: 0.5rem;
    color: var(--general-text-light);
    height: 2rem;
    padding: 0 0.5rem;
    width: 8rem;
  }

  &[type="number"]::-webkit-inner-spin-button {
    filter: invert(1);
  }

  &[type="radio"] {
    margin: 0 0.5rem 0.1rem 0.75rem;
    vertical-align: text-bottom;
  }

  &[type="submit"] {
    background: var(--button-background-gradient);
    border-radius: 100rem;
    color: var(--general-text-light);
    display: block;
    line-height: 1.5rem;
    margin: 0.75rem 0;
    padding: 0.5rem 0.75rem;
    white-space: inherit;
    width: 100%;
  }
}

label {
  border-radius: 0.5rem;
  min-height: 2rem;

  &:has(input[type="radio"]) {
    background: var(--button-background-gradient);
    color: var(--general-text-light);
    display: inline-block;
    line-height: 2rem;
    margin-right: 0.75rem;
    margin-top: 0.5rem;
    opacity: 0.5;
    padding-right: 0.75rem;

    &:has(input:checked) {
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

p {
  margin: 0.75rem 0;
  white-space: pre-wrap;
}

#screen {
  display: flex;

  #messages {
    min-height: 100vh;
    width: 60%;
  }

  #panels {
    align-self: flex-start;
    position: sticky;
    top: 0;
    width: 40%;

    section {
      background-color: var(--panel-body-background);
      border-radius: 0.5rem;
      color: var(--general-text-dark);
      margin: 0.75rem;

      header {
        background: var(--panel-background-gradient);
        border-radius: 0.5rem 0.5rem 0 0;
        color: var(--general-text-light);
        padding: 0.75rem;
      }

      >div {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin: 0.75rem;
        padding-bottom: 0.75rem;

        img {
          float: right;
          margin: 0 0 0.75rem 0.75rem;
          width: 3rem;
        }

        ol {
          li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
          }
        }

        p {
          margin: 0;
        }

        .level-board {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 0.5rem;

          li {
            align-items: center;
            border-radius: 100rem;
            display: flex;
            gap: 0.75rem;
            justify-content: space-between;
            overflow: visible;
            padding: 0.5rem 0 0.5rem 1rem;
            white-space: nowrap;

            &.unlocked {
              background: var(--level-unlocked-background-gradient);
              color: var(--level-unlocked-foreground);
            }

            &.locked {
              background: var(--level-locked-background-gradient);
              color: var(--level-locked-foreground);
            }

            .level-info span:first-child {
              font-size: 1.5rem;
              margin-right: 0.5rem;
              vertical-align: middle;
            }

            button.level-action {
              align-items: center;
              align-self: stretch;
              border-radius: 100rem;
              display: flex;
              justify-content: center;
              margin: -0.5rem 0;
              min-width: 7rem;
              padding: 0 0.75rem;
              width: auto;

              &:disabled {
                background: none;
                color: var(--level-locked-foreground);
                opacity: 0.5;
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }
}

.or {
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;

  &:before,
  &:after {
    content: "";
    border-bottom: 1px solid var(--general-text-dark);
    display: inline-block;
    height: 0;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 1rem;
    margin-left: -50%;
  }

  &:after {
    left: 1rem;
    margin-right: -50%;
  }
}

@keyframes revealComputer {
  from {
    transform: translateY(-100%) rotateX(90deg);
    opacity: 0;
  }

  to {
    transform: translateY(0) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes revealHuman {
  from {
    transform: translateY(-100%) rotateX(90deg);
    opacity: 0;
  }

  to {
    transform: translateY(0) rotateX(0deg);
    opacity: 1;
  }
}
