* {
    box-sizing: border-box;
}

body {
    background-color: #ece5dd;
    color: #333;
    font-family: monospace;
    font-size: 15px;
    margin: 0;
}

a {
    color: #128c7e;
}

p {
    margin: 0;
}

form {
    label {
        display: inline-block;
        margin: 5px 0;
    }
    
    input[type="text"], input[type="number"] {
        background-color: #fff;
        border: 1px solid #ece5dd;
        border-radius: 5px;
        font-family: inherit;
        font-size: inherit;
        height: 40px;
        margin: 0 0 0 1rem;
        padding: 10px;
        width: 8rem;
    }
    
    input[type="checkbox"] {
        margin: 0 0 0 1rem;
    }
    
    input[type="radio"] {
        margin: 0 0.5rem 0 1.5rem;
    }
    
    input[type="submit"] {
        background-color: #fff;
        border: 1px solid #ece5dd;
        border-radius: 5px;
        font-family: inherit;
        font-size: inherit;
        height: 40px;
        margin: 0;
        width: 10rem;
    }
}

#screen {
    display: flex;
}

#conversation {
    height: 100vh;
    overflow: scroll;
    width: 60vw;

    section {
        width: 50vw;

        &.human {
            background-color: #dcf8c6;
            margin-left: 10vw;
        }

        header {
            display: none;
        }
    }
}

#sidebar {
    width: 40vw;
}

section {
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    white-space: break-spaces;

    header {
        background-color: #128c7e;
        border-radius: 5px 5px 0 0;
        color: #fff;
        padding: 10px;
    }

    main {
        padding: 10px;
    }
}
