:root {
    --almost-black: #011f4b;
    --dark-blue: #005b96;
    --medium-blue: #6497b1;
    --light-blue: #ecf2f7;
    --light-brown: #ece5dd;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--light-brown);
    color: var(--almost-black);
    font-family: monospace;
    margin: 0;
}

a {
    color: inherit;
}

button {
    background-color: var(--medium-blue);
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    display: block;
    font-family: inherit;
    font-size: inherit;
    margin: 0.75rem 0;
    padding: 1rem;
    text-align: left;
    width: 100%;
}

form {
    button {
        background-color: var(--light-brown);
        color: var(--medium-blue);
        display: inline;
        height: 2.5rem;
        margin: 0;
        padding: 0 1rem;
        width: auto;
    }

    div:not(:has(input[type="radio"])) {
        margin: 0.75rem 0;
    }

    div:has(button) {
        display: flex;
        gap: 0.75rem;
    }
    
    input[type="text"],
    input[type="number"] {
        background-color: var(--medium-blue);
        border: none;
        border-radius: 0.5rem;
        color: var(--white);
        font-family: inherit;
        font-size: inherit;
        height: 2rem;
        margin: 0 0 0 0.75rem;
        padding: 0 0.75rem;
        width: 8rem;
    }
    
    input[type="checkbox"] {
        margin: 0 0.75rem 0 0;
        vertical-align: 0.1rem;
    }
    
    input[type="radio"] {
        margin: 0 0.5rem 0 0.75rem;
    }
    
    input[type="submit"] {
        background-color: var(--medium-blue);
        border: none;
        border-radius: 0.5rem;
        color: var(--white);
        font-family: inherit;
        font-size: inherit;
        height: 2.5rem;
        margin: 0;
        padding: 0 1rem;
    }

    label {
        border-radius: 0.5rem;
        display: inline-block;
        height: 2rem;
        line-height: 2rem;
    
        &:has(input[type="radio"]) {
            background-color: var(--medium-blue);
            color: var(--white);
            margin-left: 0.75rem;
            padding-right: 0.75rem;
    
            &:hover {
                cursor: pointer;
            }
        }
    }
}

menu, ul {
    list-style-type: none;
    padding: 0;
}

section {
    background-color: var(--white);
    border-radius: 0.5rem;
    color: var(--almost-black);
    margin: 0.75rem;
    overflow: hidden;
    padding: 0 0.75rem;

    > * {
        margin: 0.75rem 0;
    }

    header {
        background-color: var(--dark-blue);
        border-radius: 0.5rem 0.5rem 0 0;
        color: var(--white);
        margin: 0 -0.75rem 0.75rem -0.75rem;
        padding: 0.75rem;
    }

    code {
        display: block;
        white-space: pre;
    }
}

#screen {
    display: flex;

    #conversation {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: scroll;
        scrollbar-width: none;
        width: 60%;
    
        section {
            width: 80%;
    
            &.human {
                background-color: var(--light-blue);
                color: var(--almost-black);
                margin-left: 20%;
            }
        }
    }
    
    #sidebar {
        width: 40%;
    }
}
