* {
    box-sizing: border-box;
}

body {
    background-color: #ece5dd;
    color: #333;
    font-family: monospace;
    margin: 0;
}

a {
    color: inherit;
}

button {
    background-color: #25d366;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: inherit;
    margin: 0.75rem 0;
    padding: 1rem;
    text-align: left;
    width: 100%;
}

form {
    button {
        background-color: #ece5dd;
        color: #999;
        display: inline;
        height: 2.5rem;
        margin: 0;
        padding: 0 1rem;
        width: auto;
    }

    div:not(:has(input[type="radio"])) {
        margin: 0.75rem 0;
    }

    div:has(button) {
        display: flex;
        gap: 0.75rem;
    }
    
    input[type="text"],
    input[type="number"] {
        background-color: #25d366;
        border: none;
        border-radius: 0.5rem;
        color: #fff;
        font-family: inherit;
        font-size: inherit;
        height: 2rem;
        margin: 0 0 0 0.75rem;
        padding: 0 0.75rem;
        width: 8rem;
    }
    
    input[type="checkbox"] {
        margin: 0 0.75rem 0 0;
        vertical-align: 0.1rem;
    }
    
    input[type="radio"] {
        margin: 0 0.5rem 0 0.75rem;
    }
    
    input[type="submit"] {
        background-color: #25d366;
        border: none;
        border-radius: 0.5rem;
        color: #fff;
        font-family: inherit;
        font-size: inherit;
        height: 2.5rem;
        margin: 0;
        padding: 0 1rem;
    }

    label {
        border-radius: 0.5rem;
        display: inline-block;
        height: 2rem;
        line-height: 2rem;
    
        &:has(input[type="radio"]) {
            background-color: #25d366;
            color: #fff;
            margin-left: 0.75rem;
            padding-right: 0.75rem;
    
            &:hover {
                cursor: pointer;
            }
        }
    }
}

menu, ul {
    list-style-type: none;
    padding: 0;
}

section {
    background-color: #fff;
    border-radius: 0.5rem;
    color: #333;
    margin: 0.75rem;
    overflow: hidden;
    padding: 0 0.75rem;

    > * {
        margin: 0.75rem 0;
    }

    header {
        background-color: #128c7e;
        border-radius: 0.5rem 0.5rem 0 0;
        color: #fff;
        margin: 0 -0.75rem 0.75rem -0.75rem;
        padding: 0.75rem;
    }

    code {
        display: block;
        white-space: pre;
    }
}

#screen {
    display: flex;

    #conversation {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: scroll;
        scrollbar-width: none;
        width: 60%;
    
        section {
            width: 80%;
    
            &.human {
                background-color: #dcf8c6;
                color: #333;
                margin-left: 10vw;
            }
        }
    }
    
    #sidebar {
        width: 40%;
    }
}
